.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding: 50px 50px;

  color: white;
  background-color: var(--red);

  .copyright {
    position: absolute;
    right: 8px;
    bottom: 0px;
  }
}

.footer-txt-container {
  display: flex;
  gap: 30px;
}

.footer-label {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px 25px;
  a {
    font-family: "katari", "Crimson Pro", serif;
    text-transform: capitalize;
    text-decoration: none;
  }
}

.footer-social-networks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
