.navigation {
  img {
    height: 30px;
  }

  a {
    font-family: "katari", "Crimson Pro", serif;
    font-size: 20px;
    font-weight: 400;
    text-transform: capitalize;
    text-decoration: none;
    color: white;
    transition: border-bottom 0.15s ease-in;
  }

  .navigation-button {
    font-family: "Enchanted land";
    font-size: 27px;
    font-weight: 400;
    text-transform: capitalize;
    color: white;
    background-color: var(--red);
    padding: 5px 20px;
    border-radius: 10px;
    transition: box-shadow 0.3s ease-in;
  }

  .navigation-button:hover {
    box-shadow: 0px 0px 25px 0px rgba(255, 255, 255, 0.5);
  }

  .navigation-button:active {
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.36) 0%,
        rgba(0, 0, 0, 0.36) 100%
      ),
      var(--red, #b00042);
  }
}
