// .purchase-screen {
//   background-color: black;
//   width: 100vw;
// }

.purchase-screen-txt {
  color: white;
  h2 {
    font-family: "Enchanted land";
    font-size: 180px;
  }

  p {
    font-family: "katari", "Crimson Pro", serif;
    font-size: 20px;
  }

  .buy-button {
    font-family: "katari", "Crimson Pro", serif;
  }

  .fnac-button {
    font-family: "katari", "Crimson Pro", serif;
  }
}

.purchase-screen-links {
  margin-top: 5vh;
  display: flex;
  justify-content: space-between;

  .buy-button {
    a {
      text-decoration: none;
      font-family: "Enchanted land";
      font-size: 35px;
    }
  }

  .fnac-button {
    background-color: var(--red);
    padding: 10px 25px;
    border-radius: 20px;

    a {
      text-decoration: none;
      font-family: "Enchanted land";
      font-size: 35px;
    }
  }
}

.purchase-screen-produckt {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 80%;
    height: auto;
  }
}
