.storytelling {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 250px 0;
  margin-top: 100px;

  .bubble {
    position: absolute;
  }

  .comic-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    img {
      width: 30%;
    }
  }

  .family-paint {
    margin-bottom: 50px;

    .family-paint-bg {
      width: 80vw;
    }

    :nth-child(1) {
      width: 30%;
      top: -45px;
      left: -30vw;
      opacity: 0;
    }
    :nth-child(3) {
      width: 28%;
      bottom: -50px;
      right: -40vh;
      opacity: 50%;
    }
  }

  .night-discusion {
    margin-bottom: 50px;

    .night-discusion-bg {
      background: linear-gradient(180deg, rgba(37, 0, 11, 0) 70%, #25000b 100%),
        linear-gradient(0deg, rgba(37, 0, 11, 0) 70%, #25000b 100%),
        url(../img/night-discusion.png) lightgray 50% / cover no-repeat;
      width: 100vw;
      height: 120vh;
    }

    :nth-child(1) {
      top: 200px;
      left: -30vw;
      opacity: 50%;
    }
    :nth-child(3) {
      width: 18%;
      bottom: 200px;
      left: -30vw;
      opacity: 50%;
    }
  }

  .ysa-escape {
    margin-bottom: 50px;

    .ysa-escape-bg {
      box-shadow: 0px 0px 24.4px 19px #0c0c0c;
      width: 60vw;
    }

    :nth-child(1) {
      width: 24%;
      top: -50px;
      left: -30vw;
      opacity: 50%;
    }
    :nth-child(3) {
      width: 35%;
      bottom: -50px;
      right: -38vw;
      opacity: 50%;
    }
  }

  .alone-bubble {
    width: 50vw;
    margin: 150px 0px;

    :nth-child(1) {
      width: 80%;
      bottom: 25px;
      opacity: 50%;
    }
    :nth-child(2) {
      width: 50%;
      top: 25px;
      opacity: 0;
    }
  }

  .maxine-paint {
    margin-bottom: 50px;

    .maxine-paint-bg {
      width: 120%;
    }

    :nth-child(1) {
      width: 25%;
      bottom: 600px;
      left: -8vw;
      opacity: 50%;
    }
    :nth-child(3) {
      width: 60%;
      bottom: -180px;
      opacity: 50%;
    }
  }

  .maxine-sketch {
    margin-bottom: 50px;

    .maxine-sketch-bg {
      width: 100vw;
    }
  }
}
