.storytelling {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 250px 0;
  margin-top: 100px;

  .bubble {
    position: absolute;
  }

  .comic-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    img {
      width: 30%;
    }
  }

  .family-paint {
    margin-bottom: 50px;

    .family-paint-bg {
      width: 80vw;
    }

    :nth-child(1) {
      width: 30%;
      top: -45px;
      left: -5vw;
    }
    :nth-child(3) {
      width: 28%;
      bottom: -50px;
      right: -5vh;
    }
  }

  .night-discusion {
    display: block;
    margin-bottom: 50px;

    .night-discusion-bg {
      width: 100vw;
    }

    :nth-child(1) {
      top: 200px;
      left: 8vw;
    }
    :nth-child(3) {
      width: 18%;
      bottom: 200px;
      left: 14vw;
    }
  }

  .ysa-escape {
    margin-bottom: 50px;

    .ysa-escape-bg {
      width: 60vw;
    }

    :nth-child(1) {
      width: 24%;
      top: -50px;
      left: -8vw;
    }
    :nth-child(3) {
      width: 35%;
      bottom: -50px;
      right: -10vw;
    }
  }

  .alone-bubble {
    width: 50vw;
    margin-bottom: 50px;

    :nth-child(1) {
      width: 80%;
      bottom: 25px;
    }
    :nth-child(2) {
      width: 50%;
      top: 25px;
    }
  }

  .maxine-paint {
    margin-bottom: 50px;

    .maxine-paint-bg {
      width: 120%;
    }

    :nth-child(1) {
      width: 25%;
      bottom: 600px;
      left: -8vw;
    }
    :nth-child(3) {
      width: 60%;
      bottom: -180px;
    }
  }

  .maxine-sketch {
    margin-bottom: 50px;

    .maxine-sketch-bg {
      width: 100vw;
    }
  }
}
